<h1>Pirates matey</h1>
<div class='pirate'>
    <h3>Name: <%= @pirate.name %></h3></br>
    <h3>Weight: <%= @pirate.weight %></h3></br>
    <h3>Height: <%= @pirate.height %></h3></br>
</div><br>


<h1>Ships</h1>
<% @ships.each do |ship| %>
    <dive class='ship'>
    <h3>Name: <%= ship.name %></p><br>
    <h3>Type: <%= ship.type %></p><br>
    <h3>Booty: <%= ship.booty %></p><br>
</div><br>
<% end %>